<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="SqlServerDbContext"
		 connectionString="Server=ACER;Database=QLBANDT;User Id=sa;Password=123;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True"
		 providerName="System.Data.SqlClient" />
</connectionStrings>
